*.bloop
/app/kg/data/import/kg/kgtk/*.tsv
/app/kg/data/import/kg/legacy/*.csv
node_modules/
/gui/dist/
/gui/package-lock.json
/.idea/
*.iml
logs/
.metals/
/package-lock.json
*.pyc
/project/project/
/project/metals.sbt
.python-version
target/
**/integration/cypress/plugins/
**/integration/cypress/videos/
**/integration/cypress/screenshots/
