*.bloop
/data/import/kg/*.csv
node_modules/
/gui/dist/
/gui/package-lock.json
/.idea/
*.iml
/logs/
.metals/
*.pyc
/project/project/
/project/target/
/project/metals.sbt
.python-version
/target/
/test/integration/cypress/plugins/
/test/integration/cypress/videos/
/test/integration/cypress/screenshots/
